# Proprietários de código para revisão automática

## Formato

[Documentação de CODEOWNERS](https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)

* @italo-547
